<html>
    <head>
        <meta charset="utf-8">
        <title> Django CMS </title>
        <style>
            .post_title {
                color: blue;
                font-family: 微軟正黑體;
                font-size: 16pt;
                font-weight: bold;
            }
            .post_body {
                font-family: 微軟正黑體;
                font-size: 16pt;
                font-weight: bold;
                letter-spacing: 1pt
            }
            .post_date {
                color: blue;
                font-family: 微軟正黑體;
                font-size: 10pt;
            }
        </style>
    </head>
    <body>
        <h1>{{post.title}}</h1>
        <hr>
         {% comment %} <p class="post_title"> {{ post.title }}</p> {% endcomment %}
         <p class="post.content"> {{ post.content }}</p>
         <p class="post.pub_date"> {{ post.pub_date }}</p> 
        <hr>
        <h3> <a href="/">回首頁</a> </h3>
    </body>


</html>
